# Каталоги сборки
Build/
x64/

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.user
*.sdf
*.opensdf

# Временные файлы компиляции
*.pdb
*.ilk
*.obj
*.iobj
*.ipdb
*.pch
*.idb
*.db
*.ipch
*.tlog
*.lastbuildstate
*.log
*.exp
*.lib
*.exe
*.dll

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeScripts/
Makefile
.cmake/

# Проектные папки
MySearchApp/x64/
MySearchShell/x64/
GoogleTests/x64/
MySearchSetup/

# Другие временные файлы
*.tmp
*.temp
*.bak
*.swp